@using Microsoft.AspNetCore.Identity
@using SchoolHub.Common
@using SchoolHub.Data.Models
@using SchoolHub.Services

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ITeacherService teacherService
@inject IStudentService studentService

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        var userId = this.User.GetId();
        var userIsInRole = this.User.IsAdmin();
        var userIsTeacher = await this.teacherService.IsTeacherAsync(userId);
        var userIsStudent = await this.studentService.IsStudent(userId);

        @if (!userIsInRole && userIsTeacher && !userIsStudent)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Teacher" asp-action="Mine">My Classes</a>
            </li>
        }
        else if (!userIsInRole && !userIsTeacher && userIsStudent)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Student" asp-action="Mine">My Classes</a>
            </li>
        }
        else if (!userIsInRole && !userIsTeacher && !userIsStudent)
        {
            <li class="nav-item">
                <a asp-controller="Teacher" asp-action="Become" class="nav-link text-dark">Become a Teacher</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Student" asp-action="Become" class="nav-link text-dark">Become a Student</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
