@{
    ViewData["Title"] = "404 - Page Not Found";
    ViewData["Message"] = "The page you are looking for does not exist or may have been moved.";
}

<div class="container text-center my-5">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">@ViewData["Message"]</p>
    <img src="https://www.redefineyourmarketing.com/wp-content/uploads/404code-800x611-1.png" alt="404 Image" class="img-fluid my-4">
    <a href="/" class="btn btn-primary">Return to Home</a>
</div>
