@{
    ViewData["Title"] = "500 - Internal Server Error";
    ViewData["Message"] = "Something went wrong on our side. Please try again later.";
}

<div class="container text-center my-5">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">@ViewData["Message"]</p>
    <img src="https://img.freepik.com/premium-vector/vector-illustration-concept-500-internal-server-error-website-error-network-error-cloud-com_675567-7790.jpg" alt="500 Image" class="img-fluid my-4">
    <a href="/" class="btn btn-primary">Return to Home</a>
</div>
